.hero {
  margin-bottom: 4rem;
  width: 100%;

  img {
    width: 100%;
    object-fit: cover;
    max-height: 25rem;
  }
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
}

.post {
  width: 720px;
  margin: 0rem auto;
  padding-bottom: 3rem;

  h1 {
    font-weight: bold;
    font-size: 3rem;
  }

  footer {
    margin-top: 1rem;

    display: flex;
    align-items: center;
    font-size: 0.875rem;

    time {
      display: flex;
      align-items: center;
      color: var(--info);

      & + svg {
        margin-left: 1rem;
      }

    }

    span {
      display: block;
      color: var(--info);
      & + svg {
        margin-left: 1rem;
      }
    }

    svg {
      margin-right: 0.5rem;
    }

  }
}

.content {
  margin-top: 4rem;
  text-align: justify;

  h2 {
    font-weight: bold;
    font-size: 2.25rem;
  }

  article {
    margin: 2.25rem 0;
    line-height: 1.5rem;
    font-size: 1.125rem;

    p, ul {
      margin: 1.5rem 0;
      color: var(--body);
    }

    ul {
      padding-left: 1.5rem;
  
      li {
        margin: 0.5rem 0;
      }
    }
  }

  
}

